* {
    font-family: 'Monospace';
    text-decoration: none;
}
#navbar{
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    z-index: 1000;
    height: 0;
    color: white;
}
#navbar img{
    height: 18vh;
    padding-top: 15vh;
    /* padding-left: 18%; */
}
#pages{
    padding-top: 10vh;
    color: white;
    font-weight: bolder;
    border: 1px;
    border-color: black;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}


#pages a{
    padding: 5vh;
    color: white;   
}

